<section id="footer">
    <div class="container-fluid bg-light">
        <div class="container text-center py-3">
            <span class="fw-bolder">Made By Code-Hopper</span>
        </div>
    </div>
</section>

</body>

<!-- custom js -->

<script src="./scripts/script.js"></script>

</html>